{% extends 'base.html' %}

{% block title %}
    Bootcamps App
 {% endblock %}

{% block content %}
<h1>These are the available bootcamps</h1>
<ul>
    {% for bc in bootcamps %}
        <li class="m-2 p-2 list-element" id="{{bc.id}}">
            <a href="/bootcamps/{{bc.id}}">{{ bc.name }}</a>
            <div class="btn-group btn-group-toggle mx-5" data-toggle="buttons">
                <label class="btn btn-secondary">
                    <input type="radio" name="options" checked> 
                    <i class="fas fa-arrow-down"></i>
                </label>
                <label class="btn btn-secondary disabled">
                        {{bc.votes}}
                    <input type="radio" name="options" autocomplete="off"> 
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" autocomplete="off"> 
                    <i class="fas fa-arrow-up"></i>
                </label>
            </div>
        </li> 

     {% endfor %}
</ul> 
<hr>   
<a href="{{url_for('index')}}">Add a new bootcamp!</a>
 {% endblock %}