body {
    background-image: url("markus-spiske-187777-unsplash.jpg");
    background-position-x: center;
    background-size: cover;
}

nav {
    opacity: .8;
}

h1 {
    font-size: 300%;
    margin: 3% 1%;
}

.list-element {
    background-color: rgba(0,0,0,.5);
    list-style: none;
    
}

.list-element a {
    text-decoration: none;
    font-size: 150%;
    color: white;
}

h4 a {
    color: #696969;
    text-decoration: none;
}

h4 a:hover {
    color: #545454;
    text-decoration: none;
}



