{% extends "base.html" %}

{% block title %}
    Add a New Car
 {% endblock %}

{% block content %}
    <h2>Add a New Car</h2>
    <form action="/cars" method="POST">
        <label for="car_model">Model: </label>
        <input type="text" name="car_model" id="car_model">
        <br>
        <label for="car_make">Make: </label>
        <input type="text" name="car_make" id="car_make">
        <br>
        <label for="car_year">Year: </label>
        <input type="text" name="car_year" id="car_year">
        <br>
        <button>Add Your Car!</button>
    </form>
 {% endblock %}